.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
  margin: 25px;
}
.footerList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.fList {
  list-style-type: none;
  padding: 0;
}
.fListItems {
  color: #27ae60;
  cursor: pointer;
}
