.fp {
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  display: flex;
  gap: 20px;
}
.fpItems {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.fpImg {
  width: 100%;
}
.fpName {
  font-weight: bold;
}
.fpCity {
  font-weight: 300;
}
.fpPrice {
  font-weight: 500;
}
.fpRating {
  background-color: #27ae60;
  color: white;
  border: 1px solid #27ae60;
  border: none;
  padding: 3px;
  margin-left: 10px;
  font-weight: bold;
}
.fpRating > span {
  font-size: 14px;
}
